extends includes/layout

block title
	title Fractals Generator | Generate Fractal

block head
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")

block body
	if errors
		each err in errors
			div(class="alert alert-danger", style="text-align: center;")
				strong=err
	div(class="container")
		br
		if block_task_creation
			h4(class="page-title") Sorry, you can not generate more then 5 fractals simultaneously
		else
			form(method="post")
				div(class="form-group row")
					label(for="username", class="col-sm-12") Type:
						div(class="form-group")
							label(class="type-selection")
							select(class="form-control", id="type-selection", name="task_type")
								option(value="1") Mandelbrot Set
								option(value="2") Quasi Crystal
				div(class="form-group row")
					label(for="img-width", class="col-sm-4") Width:
						input(type="number", name="width", class="form-control", id="img-width", placeholder="Type number...", required)
					label(for="img-height", class="col-sm-4") Height:
						input(type="number", name="height", class="form-control", id="img-height", placeholder="Type number...", required)
					label(for="max-iterations", class="col-sm-4") Max Iterations:
						input(type="number", name="max_iterations", class="form-control", id="max-iterations", placeholder="Type number...", required)
				button(type="submit", id="save-profile", class="btn btn-success") Generate

block footer
	script.
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	script(type="module", src="/static/js/create_task.js")
